getHisTags.json
[{"id":"7e9047f4.6744f8","type":"function","z":"441d8018.9530f","name":"readPoints","func":"const deviceIP = global.get('deviceIP');\nmsg = {\n    \"url\": deviceIP + \"/points\",\n    \"method\": \"GET\",\n    \"headers\": {\n        \"Authorization\": global.get(\"apiAuth\"),\n        \"content-type\": \"application/json\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":171,"wires":[["9e815212.fa0fd"]]},{"id":"e95d16a9.7b65c8","type":"inject","z":"441d8018.9530f","name":"trigger","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":183,"y":169,"wires":[["7e9047f4.6744f8"]]},{"id":"9e815212.fa0fd","type":"http request","z":"441d8018.9530f","name":"Get Thing","method":"use","ret":"obj","url":"","tls":"","x":574,"y":171,"wires":[["5073a050.0f4ad"]]},{"id":"5073a050.0f4ad","type":"function","z":"441d8018.9530f","name":"Get points based of tags","func":"let obj = msg.payload;\n\nObject.keys(obj).forEach(key => {\n    let a = (obj[key].tags)\n    if ( a.includes('sensor' || 'temp')){\n        node.send({\n        payload: {\n            key: key,\n            all: (obj[key])\n        }\n        \n \n        });\n  }\n    \n    \n});","outputs":1,"noerr":0,"x":789,"y":172,"wires":[["949bfab5.3e4308","4d0a1810.0aa1f8"]]},{"id":"949bfab5.3e4308","type":"debug","z":"441d8018.9530f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1054,"y":173,"wires":[]},{"id":"64ae990e.84d828","type":"http request","z":"441d8018.9530f","name":"Get Thing","method":"use","ret":"obj","url":"","tls":"","x":661,"y":302,"wires":[["e65e93e3.f5dbf"]]},{"id":"4d0a1810.0aa1f8","type":"function","z":"441d8018.9530f","name":"readHistories","func":"const deviceIP = global.get('deviceIP');\n\nmsg = {\n    \"url\": deviceIP + \"/histories/\"+ msg.payload.key,\n    \"method\": \"GET\",\n    \"headers\": {\n        \"Authorization\": global.get(\"apiAuth\"),\n        \"content-type\": \"application/json\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":473,"y":302,"wires":[["64ae990e.84d828"]]},{"id":"e65e93e3.f5dbf","type":"debug","z":"441d8018.9530f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":885,"y":296,"wires":[]}]
