HVAC-2StageCompControl.md
[{"id":"4d0e50c2.d3d0d","type":"subflow","name":"Heat/Cool","info":"","in":[{"x":50,"y":30,"wires":[{"id":"94923b16.f02ed8"},{"id":"43908ef0.3447b"},{"id":"3e60a60d.8aeb0a"},{"id":"8120606.d8043a"},{"id":"23d73e1a.e840d2"}]}],"out":[{"x":1180,"y":200,"wires":[{"id":"33f0f941.461f46","port":0}]},{"x":1180,"y":260,"wires":[{"id":"8d556ffa.f6866","port":0}]},{"x":1180,"y":340,"wires":[{"id":"efa7b29e.1abed","port":0}]},{"x":1180,"y":400,"wires":[{"id":"62eeffa1.87994","port":0}]}],"outputLabels":["Logic Out","Cool Stage 1","Cool Stage 2","Heat Stage 1","Heat Stage 2"]},{"id":"a37a6ffd.33aad","type":"inject","z":"4d0e50c2.d3d0d","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"","x":230,"y":60,"wires":[["e011176f.27b128"]]},{"id":"e011176f.27b128","type":"function","z":"4d0e50c2.d3d0d","name":"cool/heat single Stage","func":"ctx = context.flow;\n\n// Getting recs from flow context\ntemps = ctx.get('temps') || {};\nsetpoints = ctx.get('setpoints') || {};\nresults = ctx.get('result') || {};\n\nin_heating = context.get('in_heating') || false;\nin_heating_2 = context.get('in_heating_2') || false;\nin_cooling = context.get('in_cooling') || false;\nin_cooling_2 = context.get('in_cooling_2') || false;\n\n\n// Setting vars from 'recs'\ntemp = temps.zoneTemp;\ntemp_sp = setpoints.SP;\ndeadband = setpoints.DB;\nstagingDB = setpoints.stageDB + deadband;\n\n\n//Stage 1 Cooling\nif(temp >= temp_sp + deadband) {\n    in_cooling = true;\n}else if(temp <= temp_sp && in_cooling) {\n    in_cooling = false;\n}\n\n//Stage 2 Cooling\nif(temp >= temp_sp + stagingDB) {\n    in_cooling_2 = true;\n}else if(temp <= temp_sp + (stagingDB - 0.5)&& in_cooling_2) {\n    in_cooling_2 = false;\n}\n\n\n//Stage 1 Heating\nif(temp <= (temp_sp - deadband)) {\n    in_heating = true;\n}else if(temp >= temp_sp && in_heating) {\n    in_heating = false;\n}\n\n//Stage 2 Heating\nif(temp <= (temp_sp - stagingDB)) {\n    in_heating_2 = true;\n}else if(temp >= temp_sp - (stagingDB - 0.5)&& in_heating_2) {\n    in_heating_2 = false;\n} \n\n\n\ncontext.set('in_cooling', in_cooling);\ncontext.set('in_cooling_2', in_cooling_2);\ncontext.set('in_heating', in_heating);\ncontext.set('in_heating_2', in_heating_2);\n\n\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"heating: \"+in_heating+', cooling: '+in_cooling});\n\n// Set context after test\n// results.cooling = in_cooling;\n// results.cooling_2 = in_cooling_2;\n// results.heating = in_heating;\n// results.heating_2 = in_heating_2;\n// results.enable = enable;\n\n//ctx.set('results',results);\n\n\nreturn {\n    payload: {\n        coolCall_1: in_cooling,\n        coolCall_2: in_cooling_2,\n        heatCall_1: in_heating,\n        heatCall_2: in_heating_2,\n        sp: temp_sp,\n        zoneTemp: temp,\n        heating_sp: temp_sp - deadband,\n        cooling_sp: temp_sp + deadband,\n        DB: deadband,\n        stageDB: stagingDB\n      \n    }\n};","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["b47d46cf.9c6198","6b48f54b.964dcc","4054bb64.e16564","e2004eb.496aeb"]]},{"id":"f8a4b996.032298","type":"function","z":"4d0e50c2.d3d0d","name":"Set To Context","func":"ctx = context.flow;\n\ngroup = 'unclassified';\nif('group' in msg)\n    group = msg.group;\n\nif('topic' in msg) {\n    tmp = ctx.get(group) || {};\n    tmp[msg.topic] = msg.payload;\n    ctx.set(group,tmp);\n}\n\nreturn null;","outputs":1,"noerr":0,"x":940,"y":660,"wires":[[]]},{"id":"50c75db0.c2a3e4","type":"change","z":"4d0e50c2.d3d0d","name":"setpoints","rules":[{"t":"set","p":"group","pt":"msg","to":"setpoints","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":560,"wires":[["f8a4b996.032298"]]},{"id":"b3a91c3f.3c696","type":"change","z":"4d0e50c2.d3d0d","name":"temps","rules":[{"t":"set","p":"group","pt":"msg","to":"temps","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":700,"wires":[["f8a4b996.032298"]]},{"id":"33f0f941.461f46","type":"function","z":"4d0e50c2.d3d0d","name":"Cool Call","func":"\nmsg.payload = msg.payload;\nmsg.topic = \"coolCall_1\";\n\nnode.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload.coolCall_1});\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":220,"wires":[[]]},{"id":"efa7b29e.1abed","type":"function","z":"4d0e50c2.d3d0d","name":"Heat Call","func":"msg.payload = msg.payload;\nmsg.topic = \"heatCall_1\";\nnode.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload.heatCall_1});\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":340,"wires":[[]]},{"id":"43908ef0.3447b","type":"switch","z":"4d0e50c2.d3d0d","name":"SP","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"SP","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":580,"wires":[["50c75db0.c2a3e4"]]},{"id":"3e60a60d.8aeb0a","type":"switch","z":"4d0e50c2.d3d0d","name":"temp","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"zoneTemp","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":700,"wires":[["b3a91c3f.3c696"]]},{"id":"94923b16.f02ed8","type":"switch","z":"4d0e50c2.d3d0d","name":"enableLoop","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"enableLoop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":540,"wires":[["50c75db0.c2a3e4","aeb829da.07c648","6026eccf.fbe524","bb41e58e.cc7f78","1810e7f1.8ef6b8"]]},{"id":"62eeffa1.87994","type":"function","z":"4d0e50c2.d3d0d","name":"Heat Call","func":"msg.payload = msg.payload;\nmsg.topic = \"heatCall_2\";\n\nnode.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload.heatCall_2});\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":380,"wires":[[]]},{"id":"8120606.d8043a","type":"switch","z":"4d0e50c2.d3d0d","name":"stageDeadband","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"stageDB","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":620,"wires":[["50c75db0.c2a3e4"]]},{"id":"23d73e1a.e840d2","type":"switch","z":"4d0e50c2.d3d0d","name":"Deadband","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"DB","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":660,"wires":[["50c75db0.c2a3e4"]]},{"id":"b47d46cf.9c6198","type":"function","z":"4d0e50c2.d3d0d","name":"","func":"msg.payload = msg.payload.coolCall_1;\nmsg.topic = \"Cool\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["aeb829da.07c648"]]},{"id":"aeb829da.07c648","type":"function","z":"4d0e50c2.d3d0d","name":"","func":"var output;\n\ncontext.data = context.data || {} ;\nswitch (msg.topic) {\ncase \"Cool\" :\ncontext.data.task1 = msg.payload;\nmsg = null ;\nbreak;\ncase \"enableLoop\" :\ncontext.data.task2 = msg.payload;\nmsg = null ;\nbreak;\ndefault:\nmsg = null ;\nbreak;\n}\nif ( context.data.task1 === true && context.data.task2 === true) {\noutput = true ;\n} else {\noutput = false ;\n}\n//node.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload});\nmsg= {payload:output};\nreturn msg;\n\n\n\n\n// context.data = context.data || {};\n// switch (msg.topic) {\n//  case \"Cool\":\n//  context.data.a = msg.payload;\n//  msg = null;\n//  break;\n//  case \"AC1_FanStatus\":\n//  context.data.b = msg.payload;\n//  msg = null;\n//  break;\n//  default:\n//  msg = null ;\n//  break;\n \n// }\n// if(context.data.a !== null && context.data.b !== null) {\n\n// //Set math function as below + / * - >= <=\n\t\n// output = {\n//     Coolcmd: context.data.a && context.data.b  || false,\n \n    \n// };\n        \n// //node.status({fill:\"green\",shape:\"ring\",text:payload.Coolcmd});          \n\n// msg= {payload:output};\n// return msg;\n// }","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["33f0f941.461f46"]]},{"id":"8d556ffa.f6866","type":"function","z":"4d0e50c2.d3d0d","name":"Cool Call","func":"msg.payload = msg.payload;\nmsg.topic = \"coolCall_2\";\n\nnode.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload.coolCall_2});\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":260,"wires":[[]]},{"id":"6026eccf.fbe524","type":"function","z":"4d0e50c2.d3d0d","name":"","func":"var output;\n\ncontext.data = context.data || {} ;\nswitch (msg.topic) {\ncase \"Cool\" :\ncontext.data.task1 = msg.payload;\nmsg = null ;\nbreak;\ncase \"enableLoop\" :\ncontext.data.task2 = msg.payload;\nmsg = null ;\nbreak;\ndefault:\nmsg = null ;\nbreak;\n}\nif ( context.data.task1 === true && context.data.task2 === true) {\noutput = true ;\n} else {\noutput = false ;\n}\n//node.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload});\nmsg= {payload:output};\nreturn msg;\n\n\n\n\n// context.data = context.data || {};\n// switch (msg.topic) {\n//  case \"Cool\":\n//  context.data.a = msg.payload;\n//  msg = null;\n//  break;\n//  case \"AC1_FanStatus\":\n//  context.data.b = msg.payload;\n//  msg = null;\n//  break;\n//  default:\n//  msg = null ;\n//  break;\n \n// }\n// if(context.data.a !== null && context.data.b !== null) {\n\n// //Set math function as below + / * - >= <=\n\t\n// output = {\n//     Coolcmd: context.data.a && context.data.b  || false,\n \n    \n// };\n        \n// //node.status({fill:\"green\",shape:\"ring\",text:payload.Coolcmd});          \n\n// msg= {payload:output};\n// return msg;\n// }","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["1e8b3840.61afb8"]]},{"id":"6b48f54b.964dcc","type":"function","z":"4d0e50c2.d3d0d","name":"","func":"msg.payload = msg.payload.coolCall_2;\nmsg.topic = \"Cool\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["6026eccf.fbe524"]]},{"id":"4054bb64.e16564","type":"function","z":"4d0e50c2.d3d0d","name":"","func":"msg.payload = msg.payload.heatCall_1;\nmsg.topic = \"Cool\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["1810e7f1.8ef6b8"]]},{"id":"e2004eb.496aeb","type":"function","z":"4d0e50c2.d3d0d","name":"","func":"msg.payload = msg.payload.heatCall_2;\nmsg.topic = \"Cool\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["bb41e58e.cc7f78"]]},{"id":"1810e7f1.8ef6b8","type":"function","z":"4d0e50c2.d3d0d","name":"","func":"var output;\n\ncontext.data = context.data || {} ;\nswitch (msg.topic) {\ncase \"Cool\" :\ncontext.data.task1 = msg.payload;\nmsg = null ;\nbreak;\ncase \"enableLoop\" :\ncontext.data.task2 = msg.payload;\nmsg = null ;\nbreak;\ndefault:\nmsg = null ;\nbreak;\n}\nif ( context.data.task1 === true && context.data.task2 === true) {\noutput = true ;\n} else {\noutput = false ;\n}\n//node.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload});\nmsg= {payload:output};\nreturn msg;\n\n\n\n\n// context.data = context.data || {};\n// switch (msg.topic) {\n//  case \"Cool\":\n//  context.data.a = msg.payload;\n//  msg = null;\n//  break;\n//  case \"AC1_FanStatus\":\n//  context.data.b = msg.payload;\n//  msg = null;\n//  break;\n//  default:\n//  msg = null ;\n//  break;\n \n// }\n// if(context.data.a !== null && context.data.b !== null) {\n\n// //Set math function as below + / * - >= <=\n\t\n// output = {\n//     Coolcmd: context.data.a && context.data.b  || false,\n \n    \n// };\n        \n// //node.status({fill:\"green\",shape:\"ring\",text:payload.Coolcmd});          \n\n// msg= {payload:output};\n// return msg;\n// }","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["efa7b29e.1abed"]]},{"id":"bb41e58e.cc7f78","type":"function","z":"4d0e50c2.d3d0d","name":"","func":"var output;\n\ncontext.data = context.data || {} ;\nswitch (msg.topic) {\ncase \"Cool\" :\ncontext.data.task1 = msg.payload;\nmsg = null ;\nbreak;\ncase \"enableLoop\" :\ncontext.data.task2 = msg.payload;\nmsg = null ;\nbreak;\ndefault:\nmsg = null ;\nbreak;\n}\nif ( context.data.task1 === true && context.data.task2 === true) {\noutput = true ;\n} else {\noutput = false ;\n}\n//node.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload});\nmsg= {payload:output};\nreturn msg;\n\n\n\n\n// context.data = context.data || {};\n// switch (msg.topic) {\n//  case \"Cool\":\n//  context.data.a = msg.payload;\n//  msg = null;\n//  break;\n//  case \"AC1_FanStatus\":\n//  context.data.b = msg.payload;\n//  msg = null;\n//  break;\n//  default:\n//  msg = null ;\n//  break;\n \n// }\n// if(context.data.a !== null && context.data.b !== null) {\n\n// //Set math function as below + / * - >= <=\n\t\n// output = {\n//     Coolcmd: context.data.a && context.data.b  || false,\n \n    \n// };\n        \n// //node.status({fill:\"green\",shape:\"ring\",text:payload.Coolcmd});          \n\n// msg= {payload:output};\n// return msg;\n// }","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["379e3096.04824"]]},{"id":"379e3096.04824","type":"function","z":"4d0e50c2.d3d0d","name":"Time On/Off Delay","func":"// On delay\nmsg.payload = msg.payload;\n\nvar timeoutFunc = context.get('timeoutFunc') || null;\nvar turningOn = context.get('turningOn') || false;\nvar turningOff = context.get('turningOff') || false;\nvar isOn = context.get('isOn') || false;\n\nif(msg.payload === true) {\n   if(turningOff) {\n       clearTimeout(timeoutFunc);\n       turningOff = false;\n       isOn = true;\n       context.set('turningOff', turningOff);\n       context.set('isOn', isOn);\n       node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n       node.send(msg);\n   } else if(!turningOn && !isOn) {\n       turningOn = true;\n       context.set('turningOn', turningOn);\n       node.status({fill:\"yellow\",shape:\"dot\",text:\"Busy\"});\n       timeoutFunc = setTimeout(function(){\n           isOn = true;\n           turningOn = false;\n           context.set('isOn', isOn);\n           context.set('turningOn', turningOn);\n           node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n           node.send(msg);\n       }, 5000);  //On delay\n       context.set('timeoutFunc', timeoutFunc);\n   } else if(turningOn && !isOn) {\n       msg.payload = false;\n       node.send(msg);\n   } else {\n       msg.payload = true;\n       node.send(msg);\n   }\n} else if(msg.payload === false) {\n   if(turningOn) {\n       clearTimeout(timeoutFunc);\n       turningOn = false;\n       isOn = false;\n       context.set('turningOn', turningOn);\n       context.set('isOn', isOn);\n       node.status({fill:\"red\",shape:\"dot\",text:msg.payload});\n       node.send(msg);\n   } else if(!turningOff && isOn) {\n       turningOff = true;\n       context.set('turningOff', turningOff);\n       node.status({fill:\"yellow\",shape:\"dot\",text:\"Busy\"});\n       timeoutFunc = setTimeout(function(){\n           isOn = false;\n           turningOff = false;\n           context.set('isOn', isOn);\n           context.set('turningOff', turningOff);\n           node.status({fill:\"red\",shape:\"dot\",text:msg.payload});\n           node.send(msg);\n       }, 100);\n       context.set('timeoutFunc', timeoutFunc);\n   } else if(!turningOff && isOn) {\n       msg.payload = false;\n       node.send(msg);\n   } else {\n       msg.payload = false;\n       node.send(msg);\n   }\n}","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["62eeffa1.87994"]]},{"id":"1e8b3840.61afb8","type":"function","z":"4d0e50c2.d3d0d","name":"Time On/Off Delay","func":"// On delay\nmsg.payload = msg.payload;\n\nvar timeoutFunc = context.get('timeoutFunc') || null;\nvar turningOn = context.get('turningOn') || false;\nvar turningOff = context.get('turningOff') || false;\nvar isOn = context.get('isOn') || false;\n\nif(msg.payload === true) {\n   if(turningOff) {\n       clearTimeout(timeoutFunc);\n       turningOff = false;\n       isOn = true;\n       context.set('turningOff', turningOff);\n       context.set('isOn', isOn);\n       node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n       node.send(msg);\n   } else if(!turningOn && !isOn) {\n       turningOn = true;\n       context.set('turningOn', turningOn);\n       node.status({fill:\"yellow\",shape:\"dot\",text:\"Busy\"});\n       timeoutFunc = setTimeout(function(){\n           isOn = true;\n           turningOn = false;\n           context.set('isOn', isOn);\n           context.set('turningOn', turningOn);\n           node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n           node.send(msg);\n       }, 5000);  //On delayv\n       context.set('timeoutFunc', timeoutFunc);\n   } else if(turningOn && !isOn) {\n       msg.payload = false;\n       node.send(msg);\n   } else {\n       msg.payload = true;\n       node.send(msg);\n   }\n} else if(msg.payload === false) {\n   if(turningOn) {\n       clearTimeout(timeoutFunc);\n       turningOn = false;\n       isOn = false;\n       context.set('turningOn', turningOn);\n       context.set('isOn', isOn);\n       node.status({fill:\"red\",shape:\"dot\",text:msg.payload});\n       node.send(msg);\n   } else if(!turningOff && isOn) {\n       turningOff = true;\n       context.set('turningOff', turningOff);\n       node.status({fill:\"yellow\",shape:\"dot\",text:\"Busy\"});\n       timeoutFunc = setTimeout(function(){\n           isOn = false;\n           turningOff = false;\n           context.set('isOn', isOn);\n           context.set('turningOff', turningOff);\n           node.status({fill:\"red\",shape:\"dot\",text:msg.payload});\n           node.send(msg);\n       }, 100);\n       context.set('timeoutFunc', timeoutFunc);\n   } else if(!turningOff && isOn) {\n       msg.payload = false;\n       node.send(msg);\n   } else {\n       msg.payload = false;\n       node.send(msg);\n   }\n}","outputs":1,"noerr":0,"x":730,"y":260,"wires":[["8d556ffa.f6866"]]},{"id":"3504217d.3481ce","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"SP","payload":"22.5555555555","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":190,"y":480,"wires":[["2a2b683b.c2c318"]]},{"id":"991d5ccc.b8da6","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"SP","payload":"21.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":400,"wires":[["2a2b683b.c2c318"]]},{"id":"ea01a0f5.5117c","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"20.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":700,"wires":[["e548c009.489dc"]]},{"id":"32a757bf.490728","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"21.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":119,"y":819,"wires":[["e548c009.489dc"]]},{"id":"2a2b683b.c2c318","type":"function","z":"a663d32.5b7ab3","name":"SP","func":"msg.payload = msg.payload;\nmsg.topic = \"SP\";\nnode.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload});\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["c9e49f6e.6e62f"]]},{"id":"e548c009.489dc","type":"function","z":"a663d32.5b7ab3","name":"zoneTemp","func":"msg.payload = parseFloat(msg.payload);\nmsg.topic = \"zoneTemp\";\nnode.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload});\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":640,"wires":[["c9e49f6e.6e62f"]]},{"id":"de62f8d.c55e808","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"SP","payload":"23","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":520,"wires":[["2a2b683b.c2c318"]]},{"id":"75cffe0a.cec1b","type":"function","z":"a663d32.5b7ab3","name":"enableLoop","func":"msg.payload = msg.payload;\nmsg.topic = \"enableLoop\";\nnode.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["c9e49f6e.6e62f"]]},{"id":"48aac485.0c913c","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":120,"wires":[["75cffe0a.cec1b"]]},{"id":"eccb87a3.f3c058","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":364.9879837036133,"y":237.61297607421875,"wires":[["75cffe0a.cec1b"]]},{"id":"256a375e.a82fd8","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"23.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":940,"wires":[["e548c009.489dc"]]},{"id":"104cb912.ddc817","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"22","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":860,"wires":[["e548c009.489dc"]]},{"id":"6c8d73a4.8ae09c","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"22.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":900,"wires":[["e548c009.489dc"]]},{"id":"6b1cda01.b296a4","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"SP","payload":"22","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":440,"wires":[["2a2b683b.c2c318"]]},{"id":"13305d98.7365a2","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"SP","payload":"23.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":560,"wires":[["2a2b683b.c2c318"]]},{"id":"f06a2b22.d0c978","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"SP","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":360,"wires":[["2a2b683b.c2c318"]]},{"id":"8f64dc3e.22418","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"SP","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":280,"wires":[["2a2b683b.c2c318"]]},{"id":"f51c8db4.1a24d","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":780,"wires":[["e548c009.489dc"]]},{"id":"2ec0c2ad.cb1fbe","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"20.6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":740,"wires":[["e548c009.489dc"]]},{"id":"2b4721b.fb0ffde","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"SP","payload":"20.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":320,"wires":[["2a2b683b.c2c318"]]},{"id":"cfd33cfd.2d03","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"x":120,"y":620,"wires":[["e548c009.489dc"]]},{"id":"ac7f6f.22dff09","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"20.4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":660,"wires":[["e548c009.489dc"]]},{"id":"f5a9800d.36ae","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"21.4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":440,"y":980,"wires":[["e548c009.489dc"]]},{"id":"95657c9f.68ff5","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"21.6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":460,"y":1020,"wires":[["e548c009.489dc"]]},{"id":"53bfa743.c75c78","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"21.1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":460,"y":940,"wires":[["e548c009.489dc"]]},{"id":"a07836a3.8bd508","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"20.9","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":460,"y":880,"wires":[["e548c009.489dc"]]},{"id":"c9e49f6e.6e62f","type":"subflow:4d0e50c2.d3d0d","z":"a663d32.5b7ab3","name":"","x":900,"y":500,"wires":[["67358c7a.c0b8c4"],["ebf5ffd3.49eda"],["9c575664.080c98"],["54cb0743.d5c928"]]},{"id":"25864d7f.276682","type":"function","z":"a663d32.5b7ab3","name":"deadband","func":"msg.payload = msg.payload;\nmsg.topic = \"DB\";\nnode.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload});\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":420,"wires":[["c9e49f6e.6e62f"]]},{"id":"30d81852.a4a8b8","type":"function","z":"a663d32.5b7ab3","name":"Stage deadband","func":"\nnode.status({fill:\"green\",shape:\"dot\",text:msg.topic + ' ' + msg.payload});\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":480,"wires":[["c9e49f6e.6e62f"]]},{"id":"4389d82d.ba89a8","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":550,"y":60,"wires":[["25864d7f.276682"]]},{"id":"268156c1.645f2a","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"","payload":"0.5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":550,"y":140,"wires":[["30d81852.a4a8b8"]]},{"id":"3a390778.74f968","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":530,"y":100,"wires":[["25864d7f.276682"]]},{"id":"3d6ecf0b.bdb8b","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"24.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":980,"wires":[["e548c009.489dc"]]},{"id":"26f83c68.7f1834","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"SP","payload":"19","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":240,"wires":[["2a2b683b.c2c318"]]},{"id":"ffd843bd.7106a","type":"inject","z":"a663d32.5b7ab3","name":"","topic":"Temp","payload":"23","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":480,"y":1080,"wires":[["e548c009.489dc"]]},{"id":"67358c7a.c0b8c4","type":"function","z":"a663d32.5b7ab3","name":"Cool Call 1","func":"\n\nnode.status({fill:\"blue\",shape:\"dot\",text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":420,"wires":[[]]},{"id":"ebf5ffd3.49eda","type":"function","z":"a663d32.5b7ab3","name":" Cool Call 2","func":"\nnode.status({fill:\"blue\",shape:\"dot\",text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":480,"wires":[[]]},{"id":"9c575664.080c98","type":"function","z":"a663d32.5b7ab3","name":"Heat Call 1","func":"\nnode.status({fill:\"red\",shape:\"dot\",text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":540,"wires":[[]]},{"id":"54cb0743.d5c928","type":"function","z":"a663d32.5b7ab3","name":"Heat Call 2","func":"\nnode.status({fill:\"red\",shape:\"dot\",text: msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":600,"wires":[[]]}]
