MinMax Time Delay.md
[{"id":"4e6efdcd.c6d224","type":"function","z":"375c03af.306a7c","name":"Time On/Off Delay","func":"// On delay\nmsg.payload = msg.payload;\n\nvar timeoutFunc = context.get('timeoutFunc') || null;\nvar turningOn = context.get('turningOn') || false;\nvar turningOff = context.get('turningOff') || false;\nvar isOn = context.get('isOn') || false;\n\nif(msg.payload === true) {\n   if(turningOff) {\n       clearTimeout(timeoutFunc);\n       turningOff = false;\n       isOn = true;\n       context.set('turningOff', turningOff);\n       context.set('isOn', isOn);\n       node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n       node.send(msg);\n   } else if(!turningOn && !isOn) {\n       turningOn = true;\n       context.set('turningOn', turningOn);\n       node.status({fill:\"yellow\",shape:\"dot\",text:\"Busy\"});\n       timeoutFunc = setTimeout(function(){\n           isOn = true;\n           turningOn = false;\n           context.set('isOn', isOn);\n           context.set('turningOn', turningOn);\n           node.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n           node.send(msg);\n       }, 5000);  //On delayv\n       context.set('timeoutFunc', timeoutFunc);\n   } else if(turningOn && !isOn) {\n       msg.payload = false;\n       node.send(msg);\n   } else {\n       msg.payload = true;\n       node.send(msg);\n   }\n} else if(msg.payload === false) {\n   if(turningOn) {\n       clearTimeout(timeoutFunc);\n       turningOn = false;\n       isOn = false;\n       context.set('turningOn', turningOn);\n       context.set('isOn', isOn);\n       node.status({fill:\"red\",shape:\"dot\",text:msg.payload});\n       node.send(msg);\n   } else if(!turningOff && isOn) {\n       turningOff = true;\n       context.set('turningOff', turningOff);\n       node.status({fill:\"yellow\",shape:\"dot\",text:\"Busy\"});\n       timeoutFunc = setTimeout(function(){\n           isOn = false;\n           turningOff = false;\n           context.set('isOn', isOn);\n           context.set('turningOff', turningOff);\n           node.status({fill:\"red\",shape:\"dot\",text:msg.payload});\n           node.send(msg);\n       }, 100);\n       context.set('timeoutFunc', timeoutFunc);\n   } else if(!turningOff && isOn) {\n       msg.payload = false;\n       node.send(msg);\n   } else {\n       msg.payload = false;\n       node.send(msg);\n   }\n}","outputs":1,"noerr":0,"x":610,"y":480,"wires":[["529e9cb7.c150a4"]]},{"id":"92378f2f.15186","type":"inject","z":"375c03af.306a7c","name":"","topic":"","payload":"Light Off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":480,"wires":[["4e6efdcd.c6d224"]]},{"id":"529e9cb7.c150a4","type":"debug","z":"375c03af.306a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":480,"wires":[]}]
